<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".dersprogramiActivity"
            android:exported="false" />
        <activity
            android:name=".yoklamakatilActivity"
            android:exported="false" />
        <activity
            android:name=".notbakActivity"
            android:exported="false" />
        <activity
            android:name=".sikayetActivity"
            android:exported="false" />
        <activity
            android:name=".duyuruActivity"
            android:exported="false" />
        <activity
            android:name=".yoklamabaslatActivity"
            android:exported="false" />
        <activity
            android:name=".notekleActivity"
            android:exported="false" />
        <activity
            android:name=".ogretmenanaActivity"
            android:exported="false" />
        <activity
            android:name=".ogranaActivity"
            android:exported="false" />
        <activity
            android:name=".OgretmenActivity"
            android:exported="false" />
        <activity
            android:name=".OgrenciActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>